body {
    background-image: url(../images/background.jpg);
    background-size: cover;
}

header {
    text-align: center;
}

/* ------- DVD table contents --------- */
table, th, td, tr {
    text-align: left;
    padding: 0px 5px 0 5px;
}

td {
    width: 7rem;
    color: whitesmoke;
    text-align: center;
}

table
{
    width: 750px;
    height: 250px;
    margin: 10px 10px 10px 0;
    border: 3px solid #E3E3E3;
    border-radius: 10px;
}

table img
{
    padding: 0px 10px 10px 10px;
    height: 150px;
    width: 150px;
}
